<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> - KoaBlog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title"><a href="/">KoaBlog</a></h1>
          <p class="subtitle">Blog built with Koa!</p>
        </div>

        <div class="column">
          <div class="has-text-grey-dark has-text-right">
            <% if (locals.user) { %>
            <p>
              Hi, <%= user.fullName %>. <a href="/auth/logout">Logout</a><br>
            </p>
            <% } else { %>
            <p><a href="/auth">Login/Register</a></p>
            <% } %>
          </div>
        </div>
      </div>
      
      <hr>